body{background-color: rgb(245, 196, 223);
     display: grid
    gap: 40px;
}

.ha{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-content: start;
}
h2{
    padding: 10px 20px;
    border: 1px solid;
    border-color: rgb(209,85,182);
    border-radius: 4px;
    background-color: rgb(209, 85, 182);
    color: rgb(245, 248, 248);
}
h1{
    text-align: center;
}
.boracha{
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
}
.lapis{
    display: grid;
    gap: 30px;
   background-color: rgb(161,46,123);
   border: 1px solid;
   border-color: rgb(180, 25,134);
  
   
}

a{
    background-color: rgb(248, 172, 223);
    padding: 8px 9px;
    color: rgb(146, 40, 137);
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
  grid-column: 2;
 
}
p{
    color: rgb(233, 216, 231);
}
img{
    max-width: 100%;
    gap: 100px;
}
.div1{
    background-color: rgb(255, 245, 253);
   border-color: rgb(102, 96, 151);
    
}
.div2{  
    background-color: rgb(161, 46, 123);
    
}
.img1{
    width: 50px;
}
.img2{
    width: 50px;
}
.img3{
    width: 50px;
}
.h12{
    color: rgba(0, 0, 0, 0.2);
    font-size: 120px;
}
.caneta{
    text-align: right;
    padding: 8px 12px;
}
.saiba{
    text-align: right;
}
.rodape{
    background-color: rgb(249, 249, 243);
}