a{
    color: rgb(177, 7, 7);
    text-decoration: none;
}
body{
    background: rgb(151, 170, 173);
    padding: 0px 90px;
}
h1{color: rgb(36, 60, 60);}
h2{color: rgb(36,60,60
    );}
    