.triangulo{
    width: 800;
    height: 90px;
    background-color: rgb(0, 0, 0);
    border: 10px solid black;
    margin-bottom: 50px;
    border-radius: 4px
    

    

    

}
h2{
    color: rgb(255, 255, 255); 


}
a{
    color: rgb(255, 255, 255);
background-color: rgb(153, 22, 22);
padding: 4px;
border-radius: 4px
}
.azul{
    color: rgb(109, 2, 2);
}
p{
    color: rgb(103, 5, 5);
}
span{
    color: rgba(206, 62, 62, 0.994);
}