.bolo{
    background-color: rgb(134, 115, 152);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;

}
h3{
background-color: rgb(191, 173, 207);
padding: 10px 20px;
border: 1px solid; 
border-color: rgb(191,173,207);
border-radius: 4px;
}
.ki{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-content: start;

}
h1{
    text-align: center;
}
a{
    color: rgb(30, 61, 35);
    text-decoration: none;
    background-color: rgb(181, 221, 185);
    border-radius: 4px;

}
img{
    max-width: 100%;

}

.cobertura{
        height: 500px;
}
.açai{
    margin-top: 40px;
}
